<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <style>
        body{
            background-image: url(https://thumbs.gfycat.com/VillainousDisguisedBrant-max-1mb.gif);
            background-size: 100%;
            background-attachment: fixed;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
    <div class="container p-5">
        <div class="card">
            <div class="card-body">
                <a href="/" class="btn btn-secondary mt-2 mb-2 p-2">< BACK</a><a href="/adminAction/Add" class="btn btn-warning ml-2 mt-2 mb-2 p-2">ADD +</a>
                <a href="/logout" class="btn btn-danger  ml-2 mt-2 mb-2 p-2">Logout</a>
                <h1>Admin</h1>

                    <div class="card-body">
                        <% if(data.length) { %>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th width="200px">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(let i = 0; i < data.length; i++) { %>
                                        <tr>
                                            <th scope="row"><%= data[i].id %></th>
                                            <td><%= data[i].name %></td>
                                            <td><%= data[i].email %></td>
                                            <td>
                                                <a href="../adminAction/edit/<%= data[i].id %>" class="btn btn-success edit">Edit</a>
                                                <a href="../delete/<%= data[i].id %>" onclick="return alert('Are you sure?')" class="btn btn-danger delete">Delete</a>
                                            </td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        <% } %>
            
                        <!-- if result is empty -->
                        <% if(!data.length) { %>
                            <p class="text-center">No User found!</p>
                            <a href="/logout" class="btn btn-danger">Logout</a>
                            
                        <% } %>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>